# Dependencies
node_modules/
.pnp
.pnp.js

# Production Builds
dist/
dist-package/
dist-release/
release/
build-release.log

# Logs & Runtime
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS Metadata
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment & local state
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
